Repository ArkEcosystem/paper-wallet, pull requests merged in 2019-09, with the labels that each got.

#33 test: add new test
  tests/unit/views/Wallet.spec.ts
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Feature

#35 ci: setup github action workflow for testing
  .circleci/config.yml
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
Labels: Complexity: Medium, Status: Needs Review

#36 ci: pass in codecov token to report coverage
  .github/workflows/unit.yml
Labels: Complexity: Low

#37 ci: trigger workflows for push.* and pull_request.* events
  .github/workflows/e2e.yml
Labels: Complexity: Low
